/* Made by Jesus Tello @800869 in GitHub :D */


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.2rem;
    line-height: 2rem;
    margin: 0;
    padding-top: 1rem;
}

p{
    margin-bottom: 1.6rem;
}

.container{
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

.titulo{
    font-size: 1.6rem
}

.header{
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

    .header a{
        color: #fff;
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 10px;
    font-size: 1.3rem;
}

.menu-icon {
    display: none;
}

    .menu-icon:hover {
        cursor: pointer;
    }

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li{
        display: inline-block;
    }

        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s ease-in-out;
            border-radius: 5px;
        }

            .navigation ul li a:hover{
                background: #4a4a4a;
            }

.main {
    padding-top: 8rem;
}

.gant{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 37.6rem;
    z-index: 9;
}

.presupuesto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 45.9rem;
    z-index: 9;
}

.excel-responsive{
    position: relative;
    overflow: hiden;
    padding-top: 43.9%;
}

.excel-responsive2{
    position: relative;
    overflow: hiden;
    padding-top: 57%;
}

.volver{
    text-decoration: none;
    padding-top: 25px;
    text-align: right;
    z-index: 9;
    color: #333;
}

.propuesta-juan {
    position: fixed;
    text-align: right;
    padding-right: 11%;
    bottom: 8.5rem;
    padding-left: 7%;
    right: 0;
    z-index: 9;
}

.propuesta-juan-texto{
    font-size: 1rem;
    color: #333;
    text-align: right;
    z-index: 9;
}


.footer {
    background-color: #f2f2f2;
    font-size: 1.2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 2rem;
    width: 100%;
}

.parrafo{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #333;
}

.parrafo2{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #333;
    padding-bottom: 1rem;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 758px) {

    .logo {
        font-size: 1.3rem;
        letter-spacing: 3px;
        padding: 0.2rem 0 0 0;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        margin: 0;
        padding: 0.2rem 0 0 0;
        font-size: 1.3rem;
    }
 
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

        .navigation ul {
            display: none;
        }

        .navigation ul.show {
            display: block;
        }

        .navigation ul li {
            display: block;
        }
    
            .navigation ul li a {
            display: block;
            padding: 0.5rem 0;
            transition: all 0.4s linear;
            border-radius: 5px;
            }
    
                .navigation ul li a:hover {
                background: #4a4a4a;
                }
    
}


@media only screen and (max-width: 450px) {
    .propuesta-juan {
        position: fixed;
        text-align: right;
        padding-right: 11%;
        padding-left: 7%;
        right: 0;
        bottom: 12rem;
        z-index: 9;
    }

    .parrafo{
        font-size: 1rem;
        line-height: 1.4rem;
        color: #333;
    }

    h1{
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
        padding-top: 1rem;
    }
    
    .footer {
        background-color: #f2f2f2;
        font-size: 1rem;
        text-align: center;
        position: fixed;
        bottom: 0;
        margin: 0;
        padding: 2rem;
        width: 100%;
    }

}